header {
    background-image: url(matcha-tea_IMG/);
    color: white;
    padding: 10px 0;
    text-align: center;
}

header {
    background-image: src('images/matcha_couverture');
    color: white;
    padding: 10px 0;
    text-align: center;
}
.logo img {
    width: 120px; /* Ajuste la taille du logo (vous pouvez modifier selon vos préférences) */
    height: auto; /* Maintient les proportions de l'image */
    border-radius: 8px; /* Optionnel : pour arrondir légèrement les bords du logo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optionnel : ajoute une ombre discrète autour du logo */
}

.logo {
       text-align: center; /* Centre le logo dans son conteneur */
    padding: 30px;
}
header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(42, 61, 25);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


/* Footer */
footer {
    background-color:#314c26;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

